*{
    background-color: aqua;
    height: 200vh;
}
.parent{
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin-left: 300px;
    margin-top: 300px;
    position: absolute;
}

.one{
    height: 150px;
    background-color: red;
    width: 150px;
    position: relative;
    top: 100px;
    left: 100px;
}
.two{
    height: 150px;
    background-color: gold;
    width: 150px;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 5;
}

h1{
    text-decoration: underline;
    margin-left: 30px;
}